{% extends 'base.html' %}
{% block content %}
<h1>Add a friend...</h1>

<h2>From a list</h2>
<form method="post" action="{{base_path}}/addFriend">
	<select name="list" class="form-control">
	{% for account in accounts %}
		{% if account.id != user_logged_in.id %}
		<option value="{{account.id}}">{{account.name}}(id: {{account.id}})</option>
		{% endif %}
	{% endfor %}
	</select>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>By ID</h2>
<form method="post" action="{{base_path}}/addFriend">
	<input type="text" class="form-control" name="id">
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}