{% extends 'base.html' %}
{% block content %}
	<h1>Edit account</h1>
	<form method="post" action="{{base_path}}/changename">
		<div class="form-group">
			<label>Change username (Current name: {{account.name}})</label>
			<input type="text" class="form-control" name="name">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	<form method="post" action="{{base_path}}/changepassword">
		<div class="form-group">
			<label>Change password (Current password: {{account.password}})</label>
			<input type="text" class="form-control" name="password">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	<form method="post" action="{{base_path}}/editSteamId">
		<div class="form-group">
			<label>Change your Steam id (Current id: {{account.steamid}})</label>
			<input type="text" class="form-control" name="steamId">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
{% endblock %}