{% extends 'base.html' %}
{% block content %}
	<h1>{{user_logged_in.name}}'s friends</h1>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>id</th>
			</tr>
		</thead>
		<tbody>
			{% for account in accounts %}
				<tr>
					<td>{{account.name}}</td>
					<td>{{account.id}}</td>
					<td>
						<form method="post" action="{{base_path}}/removeFriend">
							<input type="hidden" value="{{account.id}}" name="removeid">
							<button type="submit" class="btn btn-primary">Remove</button>
						</form>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}